<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edgar | Portafolio</title>
</head>
<body>
    {% include 'portafolios/navbar.html' %}
         {% endblock %}
    <div class= "container">
        <div>
        <p class="text1">Hi, I'm a software developer. If you ask me, what kind of things can i do, I'll probably response, that I'm especialized in front-end and backend web pages. But, actually
            if a called myself a software developer, It's because can I make all types of sofwtares, like desktop apps, Linux and operating system customization, web-pages, etc. So, if you want some of this services, you can look my work here. 
        </p>
           <div class="subcontainer">
            <strong><a href="{% url 'my_recent_work' %}" class="btn">See more</a></strong>
           </div> 
        </div>
        <div >
            <img src="{% static 'img/startup-593327_1920.jpg' %}" alt="image" class="image1">
        </div>
        

    </div>
    <hr>
    <div class="father">
    <div class="section-2">
            <div><img src="{% static 'img/coffee-5132832_1920.jpg' %}"  class="photo2"></div>

    </div>
    <div class="Text2">
        <p class="texT3">I'm studying engineer, so you can be sure that I'm always will be learning new topics and more stuff, to be better programmer. I just love my work, so I enjoy every software that I make.</p>

    </div>
    </div>
    <div class="contacts-2">
        {% for k in social_media_views %}
        <a href="{{ k.facebook }}" class="fab fa-facebook fa-8x" id="logo-social2"></a>
        <a href="{{ k.twitter }}" class="fab fa-twitter fa-8x" id="logo-social2"></a>
        <a href="{{ k.instagram }}" class="fab fa-instagram fa-8x" id="logo-social2"></a>
        {% endfor %}
    </div>
    
</body>
</html>